{% extends 'layout.html' %}
{% block content %}

<h2>Login</h2>
<form action="{{ url_for('login') }}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br>
    <input type="submit" value="Login">
</form>
<p>Don't have an account?</p>

{% if error %}
<p class="error"><strong>Error:</strong> {{ error }}
    {% endif %}


    {% endblock %}