.col {
    text-align: center;
}

a:link,
a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    /* text-decoration: none; */
    /* Ensure no underline on hover */
    /* color: black; */
    /* Keep the text black */
    box-shadow: 0 0 20px green
        /* Add a glow effect */
}

a:active {
    text-decoration: none;
    color: black;
}

.card {
    width: 100%;
    max-width: 400px;
    height: 400px;
    margin: auto;
}

.card img {
    object-fit: cover;
    height: 250px;
    width: 100%;
}

.card-body {
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.table {
    margin-left: 50px;
    ;
}