{% extends 'layout.html' %}
{% block content %}

    <h1>Classification:</h1>
    <table class="table table-striped w-auto p-3">
        <tbody>
            <tr>
                <th scope="row">Kingdom</th>
                <td>Mark</td>
            </tr>
            <tr>
                <th scope="row">Phylum</th>
                <td>Jacob</td>
            </tr>
            <tr>
                <th scope="row">Class</th>
                <td colspan="2">Larry the Bird</td>
            </tr>

            <th scope="row">Subclass</th>
            <td colspan="2">Larry the Bird</td>
            </tr>

            <th scope="row">Order</th>
            <td colspan="2">Larry the Bird</td>
            </tr>

            <th scope="row">Family</th>
            <td colspan="2">Larry the Bird</td>
            </tr>

            <th scope="row">Genus</th>
            <td colspan="2">Larry the Bird</td>
            </tr>

            <th scope="row">Species</th>
            <td colspan="2">Larry the Bird</td>
            </tr>
        </tbody>
    </table>




    <img src="{{ url_for('static', filename='plants_img/fenugreek_methi.webp') }}" class="img-fluid" alt="...">
    <br>
    <br>

    <dl class="row">
        <dt class="col-sm-3">Description</dt>
        <dd class="col-sm-9"></dd>

        <dt class="col-sm-3">Benefits</dt>
        <dd class="col-sm-9">
            <ul>
                <li>encourage weight gain (take note, anorexics)</li>
                <li>inhibit cancer of the liver</li>
                <li>lower blood cholesterol levels</li>
                <li>treat inflammation and ulcers of the stomach and intestines</li>
                <li>drain off sweat ducts</li>
                <li>for body building</li>
                <li>for late onset diabetes</li>
                <li>poor digestion</li>
                <li>insufficient lactation</li>
                <li>painful menstruation</li>
                <li>labor pains</li>
                <li>freshen bad breath</li>
                <li>restore a dull sense of taste</li>
            </ul>

        </dd>

        <dt class="col-sm-3">Another term</dt>
        <dd class="col-sm-9">This definition is short, so no extra paragraphs or anything.</dd>

        <dt class="col-sm-3 text-truncate">Truncated term is truncated</dt>
        <dd class="col-sm-9">This can be useful when space is tight. Adds an ellipsis at the end.</dd>

        <dt class="col-sm-3">Nesting</dt>
        <dd class="col-sm-9">
            <dl class="row">
                <dt class="col-sm-4">Nested definition list</dt>
                <dd class="col-sm-8">I heard you like definition lists. Let me put a definition list inside your
                    definition list.</dd>
            </dl>
        </dd>
    </dl>



    {% endblock %}