{% extends 'layout.html' %}
{% set no_background = True %}

{% block content %}

{% if logged_msg %}
<div class="mt-3 text-center">
    <h2>How are u</h2>
    <p class="logged"><strong>Hello:</strong> {{ logged_msg }}</p>
</div>
{% endif %}

<div class="container">

    <div class="album py-5">
        <div class="row row-cols-1 row-cols-md-3 g-4">

            {% for image in images %}
            <div class="col">
                <div class="card border-0">
                    <img src="{{ url_for('static', filename='plants_img/' ~ image) }}" class="card-img-top"
                        alt="Plant Image">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ image.split('.')[0]|replace('_', ' ')|capitalize }}</h5>
                    </div>
                </div>
            </div>
            {% endfor %}



        </div>
    </div>
</div>

{% endblock %}