{% extends 'layout.html' %}
{% set no_background = True %}

{% block content %}

{% if logged_msg %}
<div class="mt-3 text-center">
    <h2>How are u</h2>
    <p class="logged"><strong>Hello:</strong> {{ logged_msg }}</p>
</div>
{% endif %}

<div class="container">

    <div class="album py-5">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card border-0">
                    <a href="{{ url_for('plant_page', plant_name='aloevera') }}">
                        <img src="{{ url_for('static', filename='plants_img/aloe_vera.webp') }}" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Aloe vera</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card border-0">
                    <a href="{{ url_for('plant_page', plant_name='chamomile') }}">
                        <img src="{{ url_for('static', filename='plants_img/chamomile.webp') }}" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Chamomile</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card border-0">
                    <a href="{{ url_for('plant_page', plant_name='fenugreek') }}">
                        <img src="{{ url_for('static', filename='plants_img/fenugreek_methi.webp') }}" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Fenugreek/Methi</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card border-0">
                    <a href="{{ url_for('plant_page', plant_name='stevia') }}">
                        <img src="{{ url_for('static', filename='plants_img/Stevia.webp') }}" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Stevia</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card border-0">
                    <a href="{{ url_for('plant_page', plant_name='tulsi') }}">
                        <img src="{{ url_for('static', filename='plants_img/tulsi.jpg') }}" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Tulsi</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}