{% extends 'layout.html' %}
{% set no_background = True %}

{% block content %}

<div class="container">
    <div class="album py-5">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for plant in plants %}
            <div class="col">
                <div class="card border-0 h-100">
                    <a href="{{ url_for('plant_detail', plant_id=plant['id']) }}">

                        <img src="{{ url_for('static', filename='uploads/' ~ plant['image_filename']) }}"
                            class="card-img-top" alt="{{ plant['plant_name'] }}">

                        <div class="card-body text-center">
                            <h5 class="card-title">{{ plant['plant_name']|capitalize }}</h5>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}