<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body class="masthead" {% if not no_background %}
    style="background-image: url('{{ url_for('static', filename='img/cover_img.jpeg') }}');" {% endif %}>

    <div class="sticky-top">
        <header class="container d-flex flex-wrap justify-content-center py-3 mb-4" data-bs-theme="dark">
            <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
                <img src="{{ url_for('static', filename='logos/leaf3.png') }}" alt="Logo" width="50" height="42"
                    class="me-2">
                <span class="fs-4">Virtual garden for Ayurvedic Plants</span>
            </div>
            <ul class="nav nav-pills fw-bold">
                <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link active"
                        aria-current="page">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
                <li class="nav-item"><a href="{{ url_for('logout') }}" class="nav-link"
                        onclick="return confirm('Are you sure you want to log out?');">Logout</a></li>
                <li class="nav-item"><a href="#" class="nav-link">About</a></li>
            </ul>
        </header>
    </div>

    <div class="container">
        {% block content %}
        <!-- Page-specific content goes here -->
        {% endblock %}
    </div>

    <div class="container d-flex w-100 h-100 p-3 mx-auto flex-column justify-content-center align-items-center">
        <footer class="text-center text-white-50">
            <p class="mb-1">Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by
                <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.
            </p>
            <p class="float-end mb-1"><a href="#">Back to top</a></p>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</body>

</html>