{% extends 'layout.html' %}
{% set no_background = True %}

{% block content %}
<main>

    <!-- welcome Topic page........ -->
    <!-- p-3 p-md-5 m-md-3 -->


    <div class="position-relative overflow-hidden text-center ">
        <div class="masthead p-lg-3 mx-auto p-3"
            style="background-image: url('{{ url_for('static', filename='img/cover_back.png') }}');">

            <h1 class=" p-md-3 m-md-3 display-3 fw-bold">Virtual garden for Ayurvedic Plants</h1>

            <h3 class="fw-normal fst-italic text-muted mb-3">"Bringing ancient wisdom to your modern world."</h3>
            <br>

            <!-- <h4 class="fs-4">Contribute a Plant?</h4>
            <p class="fs-5">Found a useful plant we don't have? Submit it and help us grow the garden 🌱
            </p>
            <a href="/suggestion" class="btn btn-success btn-lg col-6 mx-auto">Get Started</a> -->
            <div class="p-4 rounded shadow-sm mt-4 mx-auto col-md-8 animate__animated animate__fadeInUp">
                <h4 class="fs-4 mb-3"><i class="bi bi-flower3 me-2 text-success"></i>Contribute a Plant?</h4>
                <p class="fs-5">Found a useful plant we don't have? Submit it and help us grow the garden 🌱</p>
                <a href="/suggestion"
                    class="btn btn-success btn-lg animate__animated animate__pulse animate__infinite mt-2">
                    Get Started
                </a>
            </div>

        </div>
    </div>

    <!-- CAROUSUAL PHOTOS......................... -->

    <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel" data-bs-theme="light">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="Slide 1"
                aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active"
                aria-current="true"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"
                class=""></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"
                class=""></button>

        </div>
        <div class="carousel-inner">
            <div class="carousel-item" data-bs-interval="3000">
                <img src="{{ url_for('static', filename='img/classification.png') }}" class="d-block h-100" alt="...">
                <div class="container">
                    <div class="carousel-caption bg-dark bg-opacity-75 p-2">
                        <h1>Explore Botanical Classifications</h1>
                        <p class="opacity-75">Understand the roots of Ayurvedic plants — from Kingdom to Species.
                        </p>
                    </div>
                </div>
            </div>
            <div class="carousel-item active" data-bs-interval="3000">
                <img src="{{ url_for('static', filename='img/medicine41.png') }}" class="d-block h-100" alt="...">
                <div class="container">
                    <div class="carousel-caption bg-dark bg-opacity-75 p-2 rounded">
                        <h1>From Soil to Solution.</h1>
                        <p>The journey of every remedy — from wild leaves to crafted cures for
                            mind and body.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img src="{{ url_for('static', filename='img/branch.png') }}" class="d-block h-100" alt="...">

                <div class="container">
                    <div class="carousel-caption text-end text-white">
                        <h1>The Evergreen Healer.</h1>
                        <p>A symbol of resilience, ferns remind us of nature’s timeless beauty and adaptability.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img src="{{ url_for('static', filename='img/cannabis.webp') }}" class="d-block h-100" alt="...">

                <div class="container">
                    <div class="carousel-caption text-end text-white">
                        <h1>Ancient Leaves, Modern Healing</h1>
                        <p>Discover the therapeutic power of plants that have shaped centuries of natural medicine.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-success carousel-control-prev" type="button" data-bs-target="#myCarousel"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="btn btn-success carousel-control-next" type="button" data-bs-target="#myCarousel"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- Marketing messaging and featurettes
================================================== -->

    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->



        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Got a unique plant? <span
                        class="text-body-secondary">Share it with us.</span></h2>
                <p class="lead">Users can suggest plants with descriptions and photos — contributing to a growing,
                    shared plant database from diverse regions and experiences.
                </p>
            </div>
            <div class="col-md-5">
                <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                    preserveAspectRatio="xMidYMid slice">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%"
                        fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
                </svg> -->
                <img src="{{ url_for('static', filename='img/click_plant.jpg') }}" class="img-fluid"
                    alt="Suggested plant image">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Behind the scenes. <span
                        class="text-body-secondary">Careful curation in progress.</span></h2>
                <p class="lead">Submissions are reviewed by the admin for accuracy, quality, and relevance. Tools like
                    image compression and logging ensure clean and efficient review handling.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="{{ url_for('static', filename='img/review_plant1.jpeg') }}" class="img-fluid"
                    alt="Review process image">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Now live! <span class="text-body-secondary">Explore and
                        discover.</span></h2>
                <p class="lead">Approved plants become part of a global library — accessible to anyone, anywhere. A
                    unified platform where people can learn, contribute, and grow together.</p>
            </div>
            <div class="col-md-5">
                <img src="{{ url_for('static', filename='img/explore_plant.jpg') }}" class="img-fluid"
                    alt="Explore plant library">

            </div>
        </div>


        <!-- /END THE FEATURETTES -->

    </div>


</main>


{% endblock %}